body {
    margin: 0;
}

.purple {
    background-color: #6964E2;
}

.dark_green {
    background-color: #102B3E;
}

.dirty {
    background-color: #CED8E1;
}

.br_10 {
    border-radius: 10px;
}

.section {
    width: 900px;
    margin: 0 auto;
    padding: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 50px;
}

.tools {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.tools > .line {
    height: 10px;
    width: 50px;
}

.search {
    height: 40px;
    width: 150px;
    margin-left: 50px;
}

.header {
    text-align: left;
    color: #6964E2;
    height: 400px;
    font-weight: bold;
}

.header > h1 {
    margin-top: 80px;
    margin-left: 50px;
}

.header > p {
    width: 400px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.header > a {
    padding: 10px 50px;
    text-decoration: none;
    border: 2px solid #6964E2;
    border-radius: 20px;
    color: #102B3E;
    margin-left: 50px;
}

.header > a:hover {
    color: #6964E2;
    background-color: #102B3E;
}

.hero{
    text-align: center;
    color: #102B3E;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 100px auto;
}

.slider{
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.slider > .long_block{
    height: 200px;
    width: 300px;
    margin-bottom: 20px;
}

.panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel > i{
    color: #102B3E;
    font-size: 40px;
}

.panel > .figure{
    height: 40px;
    width: 40px;
}

.cards_list{
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card > .block{
    height: 150px;
    width: 150px;
}
.card > .desc{
    width: 140px;
}

.gallery{
    display: flex;
    justify-content: space-between;
    width: 700px;
    flex-wrap: wrap;
    margin: 100px auto;
}

.gallery > .long_block{
    width: 490px;
    height: 200px;
    margin-bottom: 10px;
}
.gallery > .block{
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.personal{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin:  100px auto;
}

.worker{
    color: #6964E2;
}

.worker > .avatar{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share{
    display: flex;
    justify-content: space-around;
    width: 200px;

    /*border-bottom: 4px dashed #6964E2;*/
}

.share > .figure{
    height: 40px;
    width: 40px;

}

.lines{
    display: flex;
    width: 250px;
    justify-content: space-between;

}
.lines > .line{
    width: 50px;
    height: 10px;
    margin-top: 30px;
}

.more{
    color: #6964E2;
}
.more > ul{
    list-style-type: none;

}
